<h3>fixer.io currency converter</h3>

<div ng-if="$ctrl.symbols.length > 0">
  <input type="number" ng-model="$ctrl.amount" ng-change="$ctrl.convert()" />
  <select
    ng-options="symbol as (symbol.name + ': ' + symbol.desc) for symbol in $ctrl.symbols track by symbol.name"
    ng-model="$ctrl.from"
    ng-change="$ctrl.convert()">
  </select>
  
  <p>Equals:</p>
  
  <input type="text" ng-model="$ctrl.result" disabled />
  <select
    ng-options="symbol as (symbol.name + ': ' + symbol.desc) for symbol in $ctrl.symbols track by symbol.name"
    ng-model="$ctrl.to"
    ng-change="$ctrl.convert()">
  </select>
</div>
<div ng-if="!($ctrl.symbols && $ctrl.symbols.length > 0)">
  Loading data...
</div>
